/bin.v2
/boost-build.jam
/doxygen-doc
/html
libs/lwbase-VC90/*.user
libs/lwbase-VC90/Debug
libs/lwbase-VC90/Release
libs/lwbase/*.user
libs/lwbase/Unicode[!!-~]Debug[!!-~]DLL
libs/lwbase/unittest/*.user
libs/lwbase/unittest/Debug
libs/lwbase/unittest/Release
libs/lwbase/unittest/lwbase_unittest.idc
libs/lwwx/*.user
libs/lwwx/Debug
libs/lwwx/Release
libs/odbc/*.user
libs/odbc/Debug
libs/odbc/Release
/litwindow-VC90.ncb
/litwindow-VC90.suo
/litwindow-VC90.vcproj.Galadriel.Hajo[!!-~]Kirchhoff.user
/stage
