/Release[!!-~]static
/bin.v2
/boost-build.jam
/doxygen-doc
/html
libs/Debug
libs/DebugOptimize
libs/Release
libs/lwbase-VC90/*.user
libs/lwbase-VC90/Debug
libs/lwbase-VC90/DebugOptimize
libs/lwbase-VC90/Release
libs/lwbase/Debug
libs/lwbase/DebugOptimize
libs/lwbase/Release
libs/lwbase/build/Debug
libs/lwbase/build/DebugOptimize
libs/lwbase/build/Release
libs/lwbase/doc/Debug
libs/lwbase/doc/DebugOptimize
libs/lwbase/doc/Release
libs/lwbase/doc/images/Debug
libs/lwbase/doc/images/DebugOptimize
libs/lwbase/doc/images/Release
libs/lwbase/logger/Debug
libs/lwbase/logger/DebugOptimize
libs/lwbase/logger/Release
libs/lwbase/test/Debug
libs/lwbase/test/DebugOptimize
libs/lwbase/test/Release
libs/lwbase/unittest/*.user
libs/lwbase/unittest/Debug
libs/lwbase/unittest/DebugOptimize
libs/lwbase/unittest/Release
libs/lwwx/*.user
libs/lwwx/Debug
libs/lwwx/DebugOptimize
libs/lwwx/Release
libs/lwwx/build/Debug
libs/lwwx/build/DebugOptimize
libs/lwwx/build/Release
libs/lwwx/doc/Debug
libs/lwwx/doc/DebugOptimize
libs/lwwx/doc/Release
libs/lwwx/doc/images/Debug
libs/lwwx/doc/images/DebugOptimize
libs/lwwx/doc/images/Release
libs/lwwx/samples/Debug
libs/lwwx/samples/DebugOptimize
libs/lwwx/samples/Release
libs/lwwx/samples/generic_list_mediator/Debug
libs/lwwx/samples/generic_list_mediator/Debug[!!-~]static
libs/lwwx/samples/generic_list_mediator/DebugOptimize
libs/lwwx/samples/generic_list_mediator/Release
libs/lwwx/samples/generic_list_mediator/VCProjectUnicodeDebug
libs/lwwx/samples/generic_ui/Debug
libs/lwwx/samples/generic_ui/DebugOptimize
libs/lwwx/samples/generic_ui/Release
libs/lwwx/samples/generic_ui/res/Debug
libs/lwwx/samples/generic_ui/res/DebugOptimize
libs/lwwx/samples/generic_ui/res/Release
libs/lwwx/samples/rssreader/Debug
libs/lwwx/samples/rssreader/DebugOptimize
libs/lwwx/samples/rssreader/Release
libs/odbc/*.user
libs/odbc/Debug
libs/odbc/DebugOptimize
libs/odbc/Release
libs/odbc/build/Debug
libs/odbc/build/DebugOptimize
libs/odbc/build/Release
libs/odbc/unittest/Debug[!!-~]static
libs/odbc/unittest/Release
libs/odbc/unittest/Release[!!-~]static
libs/stage
/litwindow-VC90.ncb
/litwindow-VC90.suo
/litwindow-VC90.vcproj.Galadriel.Hajo[!!-~]Kirchhoff.user
/stage
