* text=auto !eol
/CHANGELOG.txt -text
/Doxyfile -text
/Jamroot -text
/LICENSE.txt -text
/README.txt -text
/build_all_vc2008.bat -text
libs/lwbase-VC90/lwbase-VC90.vcproj -text
libs/lwbase-VC90/lwbase-VC90.vcproj.Hurog.Hajo[!!-~]Kirchhoff.user -text
libs/lwbase/build/Jamfile.v2 -text
libs/lwbase/check.cpp -text
libs/lwbase/constraints.cpp -text
libs/lwbase/dataadapterimp.cpp -text
libs/lwbase/doc/README.txt -text
libs/lwbase/doc/dataadapter.doxy -text
libs/lwbase/doc/images/Data[!!-~]Adapter[!!-~]Diagram.png -text
libs/lwbase/doc/images/README.txt -text
libs/lwbase/logger/default_sink.cpp -text
libs/lwbase/logging.cpp -text
libs/lwbase/lwbase.cpp -text
libs/lwbase/lwbase.vcproj -text
libs/lwbase/renderer.cpp -text
libs/lwbase/stdafx.cpp -text
libs/lwbase/stdafx.h -text
libs/lwbase/test/example1.cpp -text
libs/lwbase/test/main_test.cpp -text
libs/lwbase/test/precompiled.cpp -text
libs/lwbase/test/precompiled.h -text
libs/lwbase/test/test_data.cpp -text
libs/lwbase/test/test_data.hpp -text
libs/lwbase/tstring.cpp -text
libs/lwbase/unittest/basictests.cpp -text
libs/lwbase/unittest/constraintstests.cpp -text
libs/lwbase/unittest/containertests.cpp -text
libs/lwbase/unittest/fixtures.cpp -text
libs/lwbase/unittest/fixtures.h -text
libs/lwbase/unittest/fixtures2.cpp -text
libs/lwbase/unittest/inheritancetests.cpp -text
libs/lwbase/unittest/list_mediator_unittest.cpp -text
libs/lwbase/unittest/lwbase_unittest.cpp -text
libs/lwbase/unittest/lwbase_unittest.vcproj -text
libs/lwbase/unittest/lwbase_unittest.vcproj.Galadriel.Hajo[!!-~]Kirchhoff.user -text
libs/lwbase/unittest/lwbase_unittest.vcproj.Hurog.Hajo[!!-~]Kirchhoff.user -text
libs/lwbase/unittest/objectfactorytests.cpp -text
libs/lwbase/unittest/stdafx.cpp -text
libs/lwbase/unittest/stdafx.h -text
libs/lwbase/unittest/unittest.cpp -text
libs/lwbase/unittest/wrapping_strstream_test.cpp -text
libs/lwwx/action_objects.cpp -text
libs/lwwx/base_objects.cpp -text
libs/lwwx/base_objects.h -text
libs/lwwx/basic_list_mediator.cpp -text
libs/lwwx/build/Jamfile.v2 -text
libs/lwwx/doc/building_litwindow.doxy -text
libs/lwwx/doc/comparison_10x.doxy -text
libs/lwwx/doc/faq.doxy -text
libs/lwwx/doc/images/link_channels_headlines.png -text
libs/lwwx/doc/images/link_headline_news.png -text
libs/lwwx/doc/images/rssreaderscreenshot.png -text
libs/lwwx/doc/images/tutorialstep1.gif -text
libs/lwwx/doc/litwindow.doxy -text
libs/lwwx/doc/tutorial_rssreader.doxy -text
libs/lwwx/extended_error_dialog.cpp -text
libs/lwwx/lwwx.cpp -text
libs/lwwx/lwwx.pjd -text
libs/lwwx/lwwx.vcproj -text
libs/lwwx/lwwx.vcproj.Hurog.Hajo[!!-~]Kirchhoff.user -text
libs/lwwx/new_widgets.cpp -text
libs/lwwx/rapidUI.cpp -text
libs/lwwx/rapidUI_parser.cpp -text
libs/lwwx/samples/generic_list_mediator/generic_list_mediator.vsprops -text
libs/lwwx/samples/generic_list_mediator/generic_list_sample.cpp -text
libs/lwwx/samples/generic_list_mediator/generic_list_sample.h -text
libs/lwwx/samples/generic_list_mediator/generic_list_sample2.cpp -text
libs/lwwx/samples/generic_list_mediator/list_mediator.pjd -text
libs/lwwx/samples/generic_list_mediator/list_mediator.rc -text
libs/lwwx/samples/generic_list_mediator/list_mediator.sln -text
libs/lwwx/samples/generic_list_mediator/list_mediator.vcproj -text
libs/lwwx/samples/generic_list_mediator/list_mediator.vcproj.Galadriel.Hajo[!!-~]Kirchhoff.user -text
libs/lwwx/samples/generic_list_mediator/list_mediator.vcproj.Hurog.Hajo[!!-~]Kirchhoff.user -text
libs/lwwx/samples/generic_list_mediator/list_mediator.vcproj.ITHILIEN.Hajo[!!-~]Kirchhoff.user -text
libs/lwwx/samples/generic_list_mediator/list_mediatorapp.cpp -text
libs/lwwx/samples/generic_list_mediator/list_mediatorapp.h -text
libs/lwwx/samples/generic_list_mediator/stdwx.cpp -text
libs/lwwx/samples/generic_list_mediator/stdwx.h -text
libs/lwwx/samples/generic_ui/MyFrame.cpp -text
libs/lwwx/samples/generic_ui/MyFrame.h -text
libs/lwwx/samples/generic_ui/ReadMe.txt -text
libs/lwwx/samples/generic_ui/generic_ui.pjd -text
libs/lwwx/samples/generic_ui/generic_uiApp.cpp -text
libs/lwwx/samples/generic_ui/generic_uiApp.h -text
libs/lwwx/samples/generic_ui/generic_uiApp.rc -text
libs/lwwx/samples/generic_ui/generic_ui_xrc.cpp -text
libs/lwwx/samples/generic_ui/genericui_wx.rc -text
libs/lwwx/samples/generic_ui/genericuimainwindow.cpp -text
libs/lwwx/samples/generic_ui/genericuimainwindow.h -text
libs/lwwx/samples/generic_ui/mainpanel.cpp -text
libs/lwwx/samples/generic_ui/mainpanel.h -text
libs/lwwx/samples/generic_ui/res/generic_ui.xrc -text
libs/lwwx/samples/generic_ui/res/generic_uiApp.ico -text
libs/lwwx/samples/generic_ui/resource.h -text
libs/lwwx/samples/generic_ui/sample_data.cpp -text
libs/lwwx/samples/generic_ui/sample_data.h -text
libs/lwwx/samples/generic_ui/settings.cpp -text
libs/lwwx/samples/generic_ui/settings.h -text
libs/lwwx/samples/generic_ui/stdwx.cpp -text
libs/lwwx/samples/generic_ui/stdwx.h -text
libs/lwwx/samples/rssreader/data.h -text
libs/lwwx/samples/rssreader/rssmainframe.cpp -text
libs/lwwx/samples/rssreader/rssmainframe.h -text
libs/lwwx/samples/rssreader/rssreader.pjd -text
libs/lwwx/samples/rssreader/simple_rssreader.rc -text
libs/lwwx/samples/rssreader/simple_rssreader.xrc -text
libs/lwwx/samples/rssreader/simple_rssreader_app.cpp -text
libs/lwwx/samples/rssreader/simple_rssreader_app.h -text
libs/lwwx/samples/rssreader/simple_rssreader_xrc.cpp -text
libs/lwwx/samples/rssreader/simple_rssreader_xrc.inl -text
libs/lwwx/samples/rssreader/stdwx.cpp -text
libs/lwwx/samples/rssreader/stdwx.h -text
libs/lwwx/stdwx.cpp -text
libs/lwwx/stdwx.h -text
libs/lwwx/wxList_objects.cpp -text
libs/lwwx/wxList_objects.h -text
libs/lwwx/wxbook_objects.cpp -text
libs/lwwx/wxbook_objects.h -text
libs/lwwx/wxbutton_objects.cpp -text
libs/lwwx/wxbutton_objects.h -text
libs/lwwx/wxio.cpp -text
libs/lwwx/wxmisc_objects.cpp -text
libs/lwwx/wxmisc_objects.h -text
libs/lwwx/wxtext_objects.cpp -text
libs/lwwx/wxtext_objects.h -text
libs/odbc/Doxyfile -text
libs/odbc/MD5.CPP -text
libs/odbc/binder.cpp -text
libs/odbc/build/Jamfile.v2 -text
libs/odbc/catalog.cpp -text
libs/odbc/connection.cpp -text
libs/odbc/connection_script_parser.cpp -text
libs/odbc/dbms.cpp -text
libs/odbc/dbms_ms_access.cpp -text
libs/odbc/dbms_ms_excel.cpp -text
libs/odbc/internals.cpp -text
libs/odbc/lwodbc.cpp -text
libs/odbc/odbc.vcproj -text
libs/odbc/odbc.vcproj.Hurog.Hajo[!!-~]Kirchhoff.user -text
libs/odbc/statement.cpp -text
libs/odbc/statement_parser.cpp -text
libs/odbc/stdafx.cpp -text
libs/odbc/stdafx.h -text
libs/odbc/table.cpp -text
libs/odbc/utility.cpp -text
/litwindow-VC90.sln -text
/litwindow-VC90.vcproj -text
/litwindow-VC90.vcproj.Hurog.Hajo[!!-~]Kirchhoff.user -text
/litwindow-VC90.vcproj.ITHILIEN.Hajo[!!-~]Kirchhoff.user -text
litwindow/algorithm.h -text
litwindow/auto_link.hpp -text
litwindow/boost/posix_time.hpp -text
litwindow/check.hpp -text
litwindow/config.hpp -text
litwindow/constraints.h -text
litwindow/dataadapter.h -text
litwindow/dataadaptercontainerimp.h -text
litwindow/dataadapterenum.h -text
litwindow/dataadapterimp.h -text
litwindow/expr.h -text
litwindow/logger.hpp -text
litwindow/logger/sink.hpp -text
litwindow/logging.h -text
litwindow/lw_pragma_import.h -text
litwindow/lwbase.hpp -text
litwindow/odbc/MD5.H -text
litwindow/odbc/binder.h -text
litwindow/odbc/catalog.h -text
litwindow/odbc/connection.h -text
litwindow/odbc/dbms.h -text
litwindow/odbc/dbms_ms_access.h -text
litwindow/odbc/dbms_ms_excel.h -text
litwindow/odbc/internals.h -text
litwindow/odbc/lwodbc.h -text
litwindow/odbc/lwodbc_def.h -text
litwindow/odbc/odbc_fwd.h -text
litwindow/odbc/statement.h -text
litwindow/odbc/table.h -text
litwindow/odbc/utility.h -text
litwindow/platform_toolset.hpp -text
litwindow/renderer.hpp -text
litwindow/result.hpp -text
litwindow/tchar.h -text
litwindow/tstring.hpp -text
litwindow/ui/basic_list_mediator.hpp -text
litwindow/ui/list_mediator.hpp -text
litwindow/wx/action_objects.h -text
litwindow/wx/basic_list_mediator.hpp -text
litwindow/wx/dynamic_menu.h -text
litwindow/wx/extended_error.h -text
litwindow/wx/extended_error_dialog.h -text
litwindow/wx/list_mediator.hpp -text
litwindow/wx/lwwx.h -text
litwindow/wx/new_widgets.h -text
litwindow/wx/rapidUI.h -text
litwindow/wx/wxio.h -text
/user-config.jam -text
