* text=auto !eol
/CHANGELOG.txt -text
/Jamroot -text
/LICENSE.txt -text
/README.txt -text
libs/lwbase/build/Jamfile.v2 -text
libs/lwbase/check.cpp -text
libs/lwbase/constraints.cpp -text
libs/lwbase/dataadapterimp.cpp -text
libs/lwbase/doc/README.txt -text
libs/lwbase/doc/dataadapter.doxy -text
libs/lwbase/doc/images/Data[!!-~]Adapter[!!-~]Diagram.png -text
libs/lwbase/doc/images/README.txt -text
libs/lwbase/logging.cpp -text
libs/lwbase/lwbase.cpp -text
libs/lwbase/renderer.cpp -text
libs/lwbase/stdafx.cpp -text
libs/lwbase/stdafx.h -text
libs/lwbase/test/example1.cpp -text
libs/lwbase/test/main_test.cpp -text
libs/lwbase/test/precompiled.cpp -text
libs/lwbase/test/precompiled.h -text
libs/lwbase/test/test_data.cpp -text
libs/lwbase/test/test_data.hpp -text
libs/lwbase/tstring.cpp -text
libs/lwbase/unittest/basictests.cpp -text
libs/lwbase/unittest/constraintstests.cpp -text
libs/lwbase/unittest/containertests.cpp -text
libs/lwbase/unittest/fixtures.cpp -text
libs/lwbase/unittest/fixtures.h -text
libs/lwbase/unittest/fixtures2.cpp -text
libs/lwbase/unittest/inheritancetests.cpp -text
libs/lwbase/unittest/lwbase_unittest.cpp -text
libs/lwbase/unittest/lwbase_unittest.vcproj -text
libs/lwbase/unittest/lwbase_unittest.vcproj.Galadriel.Hajo[!!-~]Kirchhoff.user -text
libs/lwbase/unittest/objectfactorytests.cpp -text
libs/lwbase/unittest/stdafx.cpp -text
libs/lwbase/unittest/stdafx.h -text
libs/lwbase/unittest/unittest.cpp -text
libs/lwbase/unittest/wrapping_strstream_test.cpp -text
/litwindow-VC90.sln -text
/litwindow-VC90.vcproj -text
litwindow/algorithm.h -text
litwindow/check.hpp -text
litwindow/config.hpp -text
litwindow/constraints.h -text
litwindow/dataadapter.h -text
litwindow/dataadaptercontainerimp.h -text
litwindow/dataadapterimp.h -text
litwindow/expr.h -text
litwindow/logger.hpp -text
litwindow/logging.h -text
litwindow/lw_pragma_import.h -text
litwindow/lwbase.hpp -text
litwindow/platform_toolset.hpp -text
litwindow/renderer.hpp -text
litwindow/result.hpp -text
litwindow/tchar.h -text
litwindow/tstring.hpp -text
